<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pierre.mycamera">

    <!-- Tell Google Play that your phone must have a camera. -->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <!-- Permission to access External Storage is required in order to save files. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- FileProvider allow applications to share files with others.
        This is essential for the camera app to save the taken picture. -->
        <!-- Please replace the value under android:authorities by your own application package
        followed by ".fileprovider" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.pierre.mycamera.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>